@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

textarea:focus,
input:focus {
  outline: none;
}

.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

::-webkit-scrollbar {
  height: 3px;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #cabeba;
  border-radius: 10px;
}
